.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

.dropdown-menu {
    text-align: left;
}

#todaysDate {
    color: white;
    position: absolute;
    right: 10em;
    top: 0.5em;
  }

#wrapper {
    width: 1000px;
    margin: auto;
    margin-top: 10%
}

#formContainer {
    max-width: 50%;
    margin: 100;
    display: block;
    box-shadow: 10px 10px 5px #d8dbe2;
}

#formRow {
    background-color:#A8BCD1
}

#deleteAccountButton {
    
    color: white;
    margin-bottom: 2em;
}

#savePasswordButton {
    background-color:#424242;
    color: white;
    margin-bottom: 2em;
    margin-top: 3em;
}

#cancelButton {
    background-color:#424242;
    color: white;
    margin-bottom: 2em;
    margin-top: 3em;
}

#deleteAccountButton {
    color: white;
    margin-bottom: 2em;
    margin-top: 3em;
}